.about-wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  .about {
    margin: 0.5em;
  }
  .about-collapse-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
    .about {
      width: 80%;
    }
  }
}

 