@import "../sass/mixins.scss";

.banner {
  border-radius: 1.875em;
  position: relative;
  min-width: 95%;
  max-width: 95%;
  margin: auto;
  text-align: center;
  @include mobile {
    height: 12vh;
    border-radius: 10px;
  }
  .banner_img {
    width: 99%;
    object-fit: cover;
    height: 180px;
    border-radius: 1.875em;
    filter: brightness(80%);
    @include mobile {
      max-height: 100%;
      max-width: 100%;
      border-radius: 10px;
    }
  }
  .banner_txt {
    color: white;
    position: absolute;
    top: 33%;
    left: 25%;
    right: 25%;
    font-weight: 500;
    @include mobile {
      display: flex;
      color: white;
      margin: auto;
      font-size: 1.5em;
      text-align: left;
      left: 0.5em;
      top: 10%;
      
    }
  }
  .banner_txt-hidden {
    display: none;
  }
}

