.collapse {
  /*  border: 3px solid yellow; */
  border-radius: 10px;
  background-color: #f7f7f7;
}

.logment_collapse {
  /* border: 3px solid blue;  */
  display: flex;
  width: 95%;
  margin: auto;
  margin-top: 1em;
  justify-content: space-between;
  margin-bottom: 3em;
}

.collapse_description {
  width: 40%;
  /* height: 20em; */
}

.collapse_equipement {
  width: 40%;
  /* height: 20em; */
}

.content {
  border-radius: 10px;
  /* border: 3px solid black; */
  height: 10em;
  display: flex;
  align-items: center;
  color: #ff6060;
}
.collapse-title {
  color: white;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8em 0 0.8em;
  background-color: #ff6060;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.content-text {
  /* border: 3px solid black; */
  width: 95%;
  margin: auto;
  text-align: left;
}

.chevron {
  transition-duration: 0.3s;
  font-weight: 700px;
}

.chevron.open {
  transform: rotate(180deg);
}
