@import "../sass/mixins.scss";

.logment_collapse {
  display: flex;
  margin: auto;
  margin-top: 1em;
  justify-content: space-between;
  margin-bottom: 3em;
  width: 100%;
}
.collapse {
  border-radius: 10px;
  background-color: #f7f7f7;
  width: 45%;
  @include mobile {
    width: 100%;
    margin: 0.5em 0 0.5em 0;
  }
}

.collapse-content {
  border-radius: 10px;
  min-height: 10em;
  display: flex;
  align-items: center;
  color: #ff6060;
  @include mobile {
    padding: 1em 0 1em 0;
  }
}
.collapse-title {
  color: white;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8em 0 0.8em;
  background-color: #ff6060;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}
.content-text {
  width: 95%;
  margin: auto;
  text-align: left;
}
.chevron {
  transition-duration: 0.3s;
  font-weight: 700px;
}
.chevron.open {
  transform: rotate(180deg);
}
