@import "../sass/mixins.scss";
.body {
  min-height: 100vh;
}
.error_wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mobile {
    justify-content: center;
  }
  .error-code {
    font-size: 288px;
    min-height: 100%;
    color: #ff6060;
    line-height: 0.9em;
    @include desktop {
      margin: 0;
    }
    @include mobile {
      font-size: 5.5em;
      margin: 0;
    }
  }
  .error-message {
    font-size: 2.25em;
    color: #ff6060;
    @include mobile {
      font-size: 1.2em;
      width: 70%;
      margin: auto;
      text-align: center;
      margin: 0;
    }
  }
  .return-home {
    cursor: pointer;
    margin-top: 2em;
    color: #ff6060;
    @include mobile {
      margin-bottom: 1em;
    }
  }
}
