@import "../sass/mixins.scss";

.gallery_wrapper {
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  background-color: #F6F6F6;
  justify-content: flex-start;
  max-width: 93%;
  margin: auto;
  margin-top: 1.5em;
  padding-top: 2em;
  @include mobile {
    flex-direction: column;
    margin-top: .2em;
    padding: 0;
  }
  .gallery_card {
    height: 20em;
    width: 30%;
    margin-bottom: 2em;
    border-radius: 15px;
    position: relative;
    margin: 0.5em auto 0.5em auto;
    @include mobile {
      width: 100%;
      height: 100%;
    }
  }
  .gallery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(70%);
  }
  .card_title {
    font-size: large;
    position: absolute;
    bottom: 1.5em;
    left: 0.5em;
    color: white;
    max-width: 14em;
    height: 2em;
    text-align: left;
  }
}
