@import "../sass/mixins.scss";

.logement_wrapper {
  width: 94%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .logmement_presentation {
    display: flex;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
      max-width: 100vw;
    }
    .flat_info {
      width: 40%;
      margin-left: 1em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #ff6060;
      flex-grow: 1;
      margin-left: 0;
      @include mobile {
        width: 100%;
      }
      .logement-title {
        margin: 0.2em 0 0.2em 0;
        @include mobile {
          font-weight: 500;
          font-size: 1.2em;
        }
      }
      .logement-location {
        margin: 0.2em 0 0.2em 0;
        @include mobile {
          font-size: 1em;
          font-weight: 300;
        }
      }
      .logement_tags {
        display: flex;
        max-width: 100%;
        margin: 0.4em 0 0.4em 0;
        flex-grow: 1;
        @include mobile {
          width: 100%;
          font-size: 0.5em;
          justify-content: flex-start;
          margin-top: 1em;
        }
        .logement_tag {
          margin: 0 0.5em 0 0;
          padding: 0.2em 1em 0.2em 1em;
          border-radius: 15px;
          color: #ffffff;
          background-color: #ff6060;
          font-weight: 500;
          min-height: 1.5em;
          @include mobile {
            padding: 0;
            width: 33%;
            max-height: 2.5em;
            font-size: 1.5em;
            overflow: hidden;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .owner_info {
      display: flex;
      flex-direction: column;
      width: 20%;
      align-items: center;
      @include mobile {
        width: 100%;
        flex-direction: row-reverse;
        margin-top: 1em;
      }
      .owner-profile {
        margin-top: 0;
        display: flex;
       justify-content: flex-end;
        width: 100%;
        @include mobile {
          align-items: center;
        }
        .host-name {
          height: 1em;
          font-size: 1.3em;
          margin-right: 1em;
          color: #ff6060;
          @include mobile {
            font-size: 1em;
            font-weight: 400;
            margin-right: 0.2em;
            height: 100%;
            text-align: center;
            width: 50%;
          }
        }
        .profile_pic {
          border-radius: 100%;
          width: 3.5em;
          height: 3.5em;
         /*  margin-right: 1em; */
          @include mobile {
            height: 2.5em;
            width: 2.5em;
            margin: 0;
            margin-left: 0.4em;
          }
        }
      }
      .owner-stars {
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        @include mobile {
          justify-content: flex-start;
        }
        .fa-star {
          font-size: 1.6em;
          margin: 0 0.2em 0 0.2em;
          @include mobile {
            font-size: 1.2em;
            margin: 0;
          }
        }
      }
    }
  }

  .logment_collapse {
    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  .red {
    color: #ff6060;
  }
  .grey {
    color: grey;
  }
}
