.gallery_wrapper {
    /* border: 3px solid red; */
    border-radius: 15px;
    background-color: #F7F7F7;
    display: flex;
    flex-wrap: wrap;
    max-width: 93%;
    margin: auto;
    margin-top: 1.5em;
    padding-top: 2em;
   
}

.gallery_card {

height:20em;
width:30%;
/* border: 3px solid green; */
margin: auto; 
margin-bottom: 2em;
border-radius: 15px;
position: relative;
    
}

.gallery_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(70%)
}

.card_title{
    /* border: 1px solid yellow; */
    font-size: large;
    position: absolute;
    bottom: 0em;
    left: 0.5em;
    color: white;
    width: 13em;
    height: 2em;
    text-align: left;
}