.banner {
  border-radius: 1.875em;
  position: relative;
  min-width: 95%;
  max-width: 95%;
  margin: auto;
  text-align: center;
}
@media (max-width: 770px) {
  .banner {
    height: 12vh;
    border: 3px solid red;
    border-radius: 10px;
  }
}
.banner .banner_img {
  width: 99%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
  border-radius: 1.875em;
}
@media (max-width: 770px) {
  .banner .banner_img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
  }
}
.banner .banner_txt {
  color: white;
  position: absolute;
  top: 33%;
  left: 25%;
  right: 25%;
  font-weight: 500;
}
@media (max-width: 770px) {
  .banner .banner_txt {
    color: blue;
    margin: 0;
    font-size: 1.5em;
    width: 70%;
    left: 0;
    top: 10%;
    border: 3px solid red;
  }
}
.banner .banner_txt-hidden {
  display: none;
}