.banner {
  border-radius: 1.875em;
  position: relative;
  min-width: 95%;
  max-width: 95%;
  margin: auto;
  text-align: center;
}
@media (max-width: 770px) {
  .banner {
    height: 12vh;
    border-radius: 10px;
    margin-bottom: 1em;
  }
}
.banner .banner_img {
  width: 99%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
  border-radius: 1.875em;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}
@media (max-width: 770px) {
  .banner .banner_img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
  }
}
.banner .banner_txt {
  color: white;
  position: absolute;
  top: 33%;
  left: 25%;
  right: 25%;
  font-weight: 500;
}
@media (max-width: 770px) {
  .banner .banner_txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    margin: auto;
    font-size: 1.5em;
    text-align: left;
    left: 0.5em;
    top: 10%;
  }
}
.banner .banner_txt-hidden {
  display: none;
}