.logment_collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3em;
  width: 100%;
}

.collapse {
  border-radius: 10px;
  background-color: #f7f7f7;
}
@media (max-width: 770px) {
  .collapse {
    width: 100%;
  }
}

.collapse_description, .collapse_equipement {
  width: 45%;
}
@media (max-width: 770px) {
  .collapse_description, .collapse_equipement {
    width: 100%;
    margin: 0.5em 0 0.5em 0;
  }
}

.content {
  border-radius: 10px;
  min-height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff6060;
}
@media (max-width: 770px) {
  .content {
    padding: 1em 0 1em 0;
  }
}

.collapse-title {
  color: white;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.8em 0 0.8em;
  background-color: #ff6060;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.content-text {
  width: 95%;
  margin: auto;
  text-align: left;
}

.chevron {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-weight: 700px;
}

.chevron.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}