.body {
  min-height: 100vh;
}

.error_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 770px) {
  .error_wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.error_wrapper .error-code {
  font-size: 288px;
  min-height: 100%;
  color: #ff6060;
  line-height: 0.9em;
}
@media (min-width: 711px) {
  .error_wrapper .error-code {
    margin: 0;
  }
}
@media (max-width: 770px) {
  .error_wrapper .error-code {
    font-size: 5.5em;
    margin: 0;
  }
}
.error_wrapper .error-message {
  font-size: 2.25em;
  color: #ff6060;
}
@media (max-width: 770px) {
  .error_wrapper .error-message {
    font-size: 1.2em;
    width: 70%;
    margin: auto;
    text-align: center;
    margin: 0;
  }
}
.error_wrapper .return-home {
  cursor: pointer;
  margin-top: 2em;
  color: #ff6060;
}
@media (max-width: 770px) {
  .error_wrapper .return-home {
    margin-bottom: 1em;
  }
}