.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5em;
  max-width: 95%;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 0.2em;
}
@media (max-width: 770px) {
  .header {
    margin-top: 1em;
  }
}
.header .header_logo {
  width: 100%;
  height: 70%;
}
@media (max-width: 770px) {
  .header .header_logo {
    min-width: 100%;
    min-height: 100%;
  }
}
.header .header_nav {
  width: 12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header_link {
  color: #fb6b6a;
  text-decoration: none;
}
.header .header_link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.header .logo_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 770px) {
  .header .logo_link {
    width: 35%;
  }
}