.header {
  /* border: 3px solid green; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.header_logo {
  /* border: 3px solid yellow; */
  margin-left: 2em;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
@media (max-width: 770px) {
  .header_logo {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin: 0;
    border: 3px solid blue;
    min-width: 100%;
    min-height: 100%;
  }
}

.header_nav {
  /*  border: 3px solid red; */
  margin-right: 2em;
  width: 12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_link {
  color: #fb6b6a;
  text-decoration: none;
}

.header_link:hover {
  text-decoration: underline;
  cursor: pointer;
}